<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>{{ domain }}账号密码修改</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form" action="." method="post">
					<span class="login100-form-title p-b-16">
						修改密码
					</span>
				<span class="login100-form-title p-b-16">
						<img src="static/favicon.ico" alt="">
					</span>

				<div id="warn" class="alert alert-warning" style="display:none" >
					<a href="#" class="close" data-dismiss="alert">
						&times;
					</a>
					<center><span>3秒后自动关闭</span></center>
					<span id="warn-info"></span><br>
				</div>

				<div class="wrap-input100 validate-input" data-validate="请正确输入新密码">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
					<input class="input100" type="password" id="pass" name="pass">
					<span class="focus-input100" data-placeholder="新密码"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="请正确输入重复密码">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
					<input class="input100" type="password" id="rpass" name="rpass">
					<span class="focus-input100" data-placeholder="重复新密码"></span>
				</div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							修改密码
						</button>
					</div>
				</div>

				<div class="text-center p-t-32">
						<span class="txt1">
							@2018 {{ domain }} All rights reserved
						</span>

				</div>
			</form>
		</div>
	</div>
</div>

<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="static/vendor/bootstrap/js/popper.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/password.js"></script>

</body>
</html>
